<form action="/api/savePath" method="post">
    <label>path:
        <input
                type="text"
                value="<%  %>"
                name="path"
                placeholder="example: www/dir1/dir"
        >
    </label>
    <input type="submit" value="submit">
</form>
