<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav style="padding-left: 10px">
    <a href="/">Home</a>
    ||
    <a href="/savePath">Save path to database</a>
    ||
    Get path tree:
    <a href="/showPathTree">On Page</a>
    |
    <a href="/showJsonPathTree">JSON</a>
    ||
    <a href="/eraseDb">Erase data in DB</a>
</nav>
<hr>
<H3 style="padding-left: 10px"><%- body %></H3>
<hr>
<H4 style="color:lightcoral;padding-left: 10px">Ознайомтесь з інструкцією по користуванню:</H4>
<ol style="color:#00649b;">
    <li>В першу чергу необхідно виконати міграцію БД MySql за допомогою скріпта "sudo npm run initDB /  sudo yarn run initDB";</li>
    <li>
        Якщо у вас стоїть пароль на БД:
        <ul>
            <li>Його необхідно вказати у файлі .env(знаходиться в корені проекту) поле DB_ROOT_PASS = "ваш пароль";</li>
            <li>Пункт 3. пропустити!</li>
        </ul>
    </li>
    <li>
        Якщо пароль на БД відсутній:
        <ul>
            <li>Потрібно перейти в папку config/default.js та закоментувати поле - //"password": `${process.env.DB_ROOT_PASS}`;</li>
            <li>Пункт 2. пропустити!</li>
        </ul>
    </li>
    <li>
        Щоб записати шлях до БД:
        <ul>
            <li>Потрібно перейти за посиланням <a href="/savePath">save path to database</a>;</li>
            <li>У форму ввести шлях;</li>
        </ul>
    </li>
    <li>
        Вивести дерево папок та файлів:
        <ul>
            <li>Потрібно перейти за посиланням <a href="/showPathTree">On Page</a>;</li>
            <li>Потрібно перейти за посиланням <a href="/showJsonPathTree">JSON</a>;</li>
        </ul>
    </li>
    <li>
        Стерти всі дані з таблиць БД:
        <ul>
            <li>Потрібно перейти за посиланням <a href="/eraseDb">erase data in DB</a>;</li>
        </ul>
    </li>
</ol>
<hr>
</body>
</html>
